body {
    background: #1D2228;
    padding: 15px 5%;
}
.store-name {
    width: 50%;
    height: 70px;
    float: left;
}
.store-name h1{
    letter-spacing: 1px;
    font-weight: lighter;
    color: white;
    display: inline;
    font-size: 24px;
}
.icons {
    width: 250px;
    text-align: left;
    font-size: 18px;
}
.icons i{
    color: white;
    margin-left: 25px;
    margin-top: 10px;
}
.nav-link {
    float: left;
    width: 50%;
}
.nav-link ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link li{
    margin-top: 0;
    margin-left: auto;
}
.nav-link a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}
.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin-left: 32%;
    padding-top: 15px;
}
.main-heading h1{
    color: #F95700FF;
    font-family: fantasy;
    font-weight: lighter;
    letter-spacing: 0.5px;
}
.email {
    width: 380px;
    height: 25px;
    margin-left: 15%;
    border: none;
    border-radius: 3px;
}
.submit-btn {
    width: 180px;
    background: #ffd400e6;
    font-weight: 800;
    border: none;
    margin-top: 15px;
    margin-left: 33%;
    border-radius: 5px;
}